// Place all the styles related to the checkout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  margin: 0 auto;
  width: 900px;
  background-color: #DDDDDD;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;

  .checkout_area{
      background-color: #DDDDDD;
      margin: 0 auto;
      width: 900px;
      .customer_info
      {
        padding: 10px;
      }
      .order_info{
      width:900px;
      padding: 10px;
      margin: 0 auto;
        .order_item
        {

          float:left;
          width:800px;
          clear:both;
          padding: 10px;
        }
      }


  }

}
